body
{
	background-color: white;
	font-family: "Lucida Console", "Courier New", monospace; 
	font-size: 16px;
}

h1
{
	font-size: 3em;
	padding: 5px;
	text-align: center;
	border-style: solid;
	border-color: #A0DDA0;
	border-radius: 15px;
	background-color: gray;
}

h2
{
	font-size: 2.0em;
	text-align: center;
	padding: 5px;
	border-style: solid;
	border-color: #DDA0DD;
	border-radius: 15px;
	background-color: gray;
}
table, th, td
{
	border: 1px solid black;
	border-collapse: collapse;
}

table
{
	grid-column: 2;
	grid-row: 1;
	table-layout: auto;
	max-width: 100%;
}

th, td
{
	text-align: center;
	padding: 5px;
}

.projects
{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 0.5fr 2fr 0.5fr;
}
